<div style="text-align: center;">
    <div id="info">
        <h3>LOG:</h3>
        <ul>
            {{#each names}} 
                <li>{{this.type}}: {{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>